body {
  background-color: lightblue;
}
.game {
  /* max-width: 1000px; */
  max-height: 100%;
  margin: 0 auto;
  text-align: center;
}
.title {
  color: white;
  font-size: 30px;
  margin-bottom: 2px;
  text-align: center;
  padding-top: 20px;
}
.help {
  color: white;
  padding-bottom: 5px;
  text-align: center;
}
.plants {
  border: thin solid white;
  width: 375px;
  padding-bottom: 10px;
  font-size: 45px;
  text-align: center;
  display: inline-block;
  background-color: lightgreen;
}
.plants img {
	width: 50px;
  height: 50px;
}
.plots {
  width: 90%;
  margin: 10px auto;
}
/*.plot {
 	border: 1px solid #DEB887;
  background-color: #DEB887;
  width: 90%;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  margin: 1rem 5%;
  display: inline-block;
}*/
.controls {
  width: 100%;
  padding: 10px;
}
button:focus {
  outline: none;
}



.flower {
  width: 30px;
  height: 30px;
}
.planted {
  padding: 10px;
}
.plot {
  width: 50px;
  height: 50px;
  background-color: #b5651d;
  display: inline-block;
}
.plots {
  list-style-type: none;
}
.lit-up {
  background-color: #87ceeb;
}
.player-space {
  /* background-color: red; */
}
